<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'restfulusers/css/reset.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'restfulusers/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User {{user.id}}</h1>
    <form action='/restfulusers/update/' method='post'>
        {% csrf_token %}
        <input type='hidden' name='user_id' value='{{user.id}}'>
        <h5>First Name:</h5>
        <input type='text' name='first_name' id='first_name' value='{{user.first_name}}'>
        <h5>last Name:</h5>
        <input type='text' name='last_name' id='last_name' value='{{user.last_name}}'>
        <h5>E-Mail:</h5>
        <input type='email' name='email' id='email' value='{{user.email}}'>

        <input type='submit' value='Update'>
    </form>
    <div class='actions'>
        <a href="/restfulusers/{{user.id}}"><button>Show</button></a>
        <a href="/restfulusers/"><button>Go Back</button></a>
    </div>
</body>
</html>