<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'amadon/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Session Words</title>
</head>
<body>
    <h1>Amadon Store</h1>
    <div id="itemblock">
        <div class="headers">
            <h2>Item</h2>
            <h2>Price</h2>
            <h2>Item Count</h2>
            <h2 class='action'>Actions</h2>
        </div>
        <div>
            <h3>Dojo Tshirt</h3>
            <h3>$19.99</h3>
            <h3>{{request.session.Prod101}}</h3>
            <div class='abutton'>
                <form action='/remove/' method="post">
                    {% csrf_token %}
                    <input type='hidden' name='prodID' value='Prod101' />
                    <input class='button' type='submit' value='Remove 1' />
                </form>
                <form action='/add/' method="post">
                    {% csrf_token %}
                    <input type='hidden' name='prodID' value='Prod101' />
                    <input class='button' type='submit' value='Buy' />
                </form>
            </div>
        </div>
        <div>
            <h3>Dojo Sweater</h3>
            <h3>$29.99</h3>
            <h3>{{request.session.Prod201}}</h3>
            <div class='abutton'>
                <form action='/remove/' method="post">
                    {% csrf_token %}
                    <input type='hidden' name='prodID' value='Prod201' />
                    <input class='button' type='submit' value='Remove 1' />
                </form>
                <form action='/add/' method="post">
                    {% csrf_token %}
                    <input type='hidden' name='prodID' value='Prod201' />
                    <input class='button' type='submit' value='Buy' />
                </form>
            </div>
        </div>
        <div>
            <h3>Dojo Cup</h3>
            <h3>$4.99</h3>
            <h3>{{request.session.Prod301}}</h3>
            <div class='abutton'>
                <form action='/remove/' method="post">
                    {% csrf_token %}
                    <input type='hidden' name='prodID' value='Prod301' />
                    <input class='button' type='submit' value='Remove 1' />
                </form>
                <form action='/add/' method="post">
                    {% csrf_token %}
                    <input type='hidden' name='prodID' value='Prod301' />
                    <input class='button' type='submit' value='Buy' />
                </form>
            </div>
        </div>
        <div>
            <h3>Algorithim Book</h3>
            <h3>$49.99</h3>
            <h3>{{request.session.Prod401}}</h3>
            <div class='abutton'>
                <form action='/remove/' method="post">
                    {% csrf_token %}
                    <input type='hidden' name='prodID' value='Prod401' />
                    <input class='button' type='submit' value='Remove 1' />
                </form>
                <form action='/add/' method="post">
                    {% csrf_token %}
                    <input type='hidden' name='prodID' value='Prod401' />
                    <input class='button' type='submit' value='Buy' />
                </form>
            </div>
        </div>
        <!-- add checkout button -->
        <form class='checkout' action='/checkout/' method="post">
            {% csrf_token %}
            <input class='button' type='submit' value='Checkout' />
        </form>
    </div>
</body>
</html>