h2{
    display: block;
    text-align: center;
    color: green;
}
.word{
    display: block;
    color: red;
    margin: 20px;
    text-align: center;
}
form{
    margin: 30px;
    text-align: center;
}