<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="dojosurvey/static/css/reset.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <title>Dojo Survey</title>
</head>
<body>
    <div id="start">
        <p>Your are in a dungeon. There are two paths in front of you. The path to the right is dark and
            full of cobwebs. The path on the left you can hear some water running. Which path do you take?
        </p>  

        <a class="gbutton" href="/dright">Go Right</a>

        <a class="gbutton" href="/dleft">Go Left</a>
    </div>
</body>
</html>