<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="dojosurvey/static/css/reset.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <title>Dojo Survey</title>
</head>
<body>
    <div id="start">
        <p>You try the lock and it crumbs in your hand. As you push on the door it slowly opens and you see
            the sunlight and feel a cool breeze. As you continue to walk you find your way out of the dungeon.
            YOU WON!!!!
        </p>  

        <a class="gbutton" href="/">Start Over</a>

       
    </div>
</body>
</html>