.line{
    font-size: 35pt;
    color:blue;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
h5{
    display: block;
    text-align: center;
}
h2{
    display: block;
    text-align: center;
    text-decoration: underline;
}