<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Time_Display/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Time Display</title>
</head>
<body>
    <h2>The current time and date</h2>
    <div class="line">
        <h5>{{month}}</h5>
        <h5>{{time}}</h5>
    </div>
</body>
</html>