#survey{
    width: 500px;
    height: 500px;
    background-color: lightgreen;
    margin: 30px auto;
    padding: 10px;
}
#results{
    width: 500px;
    height: 500px;
    background-color: lightgreen;
    margin: 30px auto;
    padding: 10px;
}
label{
    display: block;
    font-size: 12pt;
    background-color: yellow;
    margin: 10px;
    text-align: center;
}
.radio{
    display: inline-block;

}
.namebox{
    margin-left: 30px;
}
.button{
    margin-left: 30px;
    vertical-align: top;
}
h4{
    display: inline-block;
    font-size: 14pt;
    margin: 10px;

}
#name{
    display: inline-block;
    font-size: 14pt;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 330px;
}
h6{
    display: inline-block;
    font-size: 14pt;
    margin-left: 30px; 
    width: 258px;   
    text-align: right;
}
h2{
    font-size: 24pt;
    text-decoration: underline;
    padding-left: 20px;
}
.location, .langauge, .comment{
    width: 200px;
}
.gbutton{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-left: 200px;

}