<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Regisration Form</title>
</head>
<body>
    <div id="regform">
        <h1>Regisration Form</h1>
        <form action='/process' method='post'>
            <label class="email" for="name">Your E-Mail:</label>
            <input class="box" type="text" name="email">

            <label class="fname" for="fname">Your First Name:</label>
            <input class="box" type="text" name="fname">

            <label class="lname" for="lname">Your Last Name:</label>
            <input class="box" type="text" name="lname">

            <label class="pwd" for="pwd">Your Password:</label>
            <input class="box" type="text" name="pwd">

            <label class="pwdC" for="pwdC">Confirm Password:</label>
            <input class="box" type="text" name="pwdC">

            <input class="button" type="submit" value="Submit">
        </form>
        <div id="messages">
            {% with messages = get_flashed_messages()%}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>